.profile-header{
	.red-strip{
		background-color: #ef4d51;
		width: 100%;
		height: 50px;
		.user-image{
			display: inline-block;
			position: relative;
			top: -37px;
			img{
				border-radius: 50%;
				border: solid 2px #EF4D51;
			}
		}
		.user-name{
			display: inline-block;
			position: relative;
			top: -36px;
			.text{
				color: #fff;
				font-size: 16px; /* Approximation due to font substitution */
				font-weight: 400;
				padding-left: 10px;
			}
		}
		.timeline-selector{
			display: inline-block;
			float: right;
			margin-top: 10px;
			.form-control{
				height: 30px;
				border-color: #fff;
				webkit-box-shadow: none;
				box-shadow: none;
				
			}
		}
	}
	
}