//Base Colors
$red: rgb(237, 50, 55);
$orange: rgb(244, 134, 53);
$yellow: rgb(255, 204, 41);
$green: rgb(168, 207, 69);
$blue: rgb(26, 79, 139);
$gray: #757575;
$white: #fff;


//Base Fonts
$osL: 'Open Sans Light', Helvetica, sans-serif;
$osLI: 'Open Sans Light Italic', Helvetica, sans-serif;
$osR: 'Open Sans Regular', Helvetica, sans-serif;
$osI: 'Open Sans Italic', Helvetica, sans-serif;
$osS: 'Open Sans Semibold', Helvetica, sans-serif;
$osSI: 'Open Sans Semibold Italic', Helvetica, sans-serif;
$osB: 'Open Sans Bold', Helvetica, sans-serif;
$osBI: 'Open Sans Bold Italic', Helvetica, sans-serif;
$osE: 'Open Sans Extrabold', Helvetica, sans-serif;
$osEI: 'Open Sans Extrabold Italic', Helvetica, sans-serif;

//Font Size
$para: 12px;
$head: 16px;

//Screen Size
$md-min-width: 992px;
$sm-min-width: 768px;

